
.metadata/.ide.log
.metadata/.lock
.metadata/.log
.metadata/.log4j.xml
.metadata/.plugins/com.st.stm32cube.ide.mcu.informationcenter/2.0.100.202111091238
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.st.stm32cube.ide.mcu.ide.oss.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.navigator.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.urischeme.prefs
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/version.ini
.metadata/.plugins/org.eclipse.cdt.core/SpaceGame.1737379473216.pdom
.metadata/.plugins/org.eclipse.cdt.core/SpaceGame.language.settings.xml
.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/spec.c
.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/spec.cpp
.metadata/.plugins/org.eclipse.cdt.ui/global-build.log
.metadata/.plugins/org.eclipse.cdt.ui/SpaceGame.build.log
.metadata/.plugins/org.eclipse.core.resources/.projects/SpaceGame/.indexes/c4/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/SpaceGame/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/SpaceGame/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/SpaceGame/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/0.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prj-SpaceGame.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.managedbuilder.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.launchbar.core.prefs
SpaceGame/.settings/language.settings.xml
SpaceGame/Debug/makefile
SpaceGame/Debug/objects.list
SpaceGame/Debug/objects.mk
SpaceGame/Debug/sources.mk
SpaceGame/Debug/SpaceGame.bin
SpaceGame/Debug/SpaceGame.elf
SpaceGame/Debug/SpaceGame.list
SpaceGame/Debug/SpaceGame.map
SpaceGame/Debug/SPL/src/stm32f30x_adc.d
SpaceGame/Debug/SPL/src/stm32f30x_adc.o
SpaceGame/Debug/SPL/src/stm32f30x_adc.su
SpaceGame/Debug/SPL/src/stm32f30x_can.d
SpaceGame/Debug/SPL/src/stm32f30x_can.o
SpaceGame/Debug/SPL/src/stm32f30x_can.su
SpaceGame/Debug/SPL/src/stm32f30x_comp.d
SpaceGame/Debug/SPL/src/stm32f30x_comp.o
SpaceGame/Debug/SPL/src/stm32f30x_comp.su
SpaceGame/Debug/SPL/src/stm32f30x_crc.d
SpaceGame/Debug/SPL/src/stm32f30x_crc.o
SpaceGame/Debug/SPL/src/stm32f30x_crc.su
SpaceGame/Debug/SPL/src/stm32f30x_dac.d
SpaceGame/Debug/SPL/src/stm32f30x_dac.o
SpaceGame/Debug/SPL/src/stm32f30x_dac.su
SpaceGame/Debug/SPL/src/stm32f30x_dbgmcu.d
SpaceGame/Debug/SPL/src/stm32f30x_dbgmcu.o
SpaceGame/Debug/SPL/src/stm32f30x_dbgmcu.su
SpaceGame/Debug/SPL/src/stm32f30x_dma.d
SpaceGame/Debug/SPL/src/stm32f30x_dma.o
SpaceGame/Debug/SPL/src/stm32f30x_dma.su
SpaceGame/Debug/SPL/src/stm32f30x_exti.d
SpaceGame/Debug/SPL/src/stm32f30x_exti.o
SpaceGame/Debug/SPL/src/stm32f30x_exti.su
SpaceGame/Debug/SPL/src/stm32f30x_flash.d
SpaceGame/Debug/SPL/src/stm32f30x_flash.o
SpaceGame/Debug/SPL/src/stm32f30x_flash.su
SpaceGame/Debug/SPL/src/stm32f30x_gpio.d
SpaceGame/Debug/SPL/src/stm32f30x_gpio.o
SpaceGame/Debug/SPL/src/stm32f30x_gpio.su
SpaceGame/Debug/SPL/src/stm32f30x_i2c.d
SpaceGame/Debug/SPL/src/stm32f30x_i2c.o
SpaceGame/Debug/SPL/src/stm32f30x_i2c.su
SpaceGame/Debug/SPL/src/stm32f30x_iwdg.d
SpaceGame/Debug/SPL/src/stm32f30x_iwdg.o
SpaceGame/Debug/SPL/src/stm32f30x_iwdg.su
SpaceGame/Debug/SPL/src/stm32f30x_misc.d
SpaceGame/Debug/SPL/src/stm32f30x_misc.o
SpaceGame/Debug/SPL/src/stm32f30x_misc.su
SpaceGame/Debug/SPL/src/stm32f30x_opamp.d
SpaceGame/Debug/SPL/src/stm32f30x_opamp.o
SpaceGame/Debug/SPL/src/stm32f30x_opamp.su
SpaceGame/Debug/SPL/src/stm32f30x_pwr.d
SpaceGame/Debug/SPL/src/stm32f30x_pwr.o
SpaceGame/Debug/SPL/src/stm32f30x_pwr.su
SpaceGame/Debug/SPL/src/stm32f30x_rcc.d
SpaceGame/Debug/SPL/src/stm32f30x_rcc.o
SpaceGame/Debug/SPL/src/stm32f30x_rcc.su
SpaceGame/Debug/SPL/src/stm32f30x_rtc.d
SpaceGame/Debug/SPL/src/stm32f30x_rtc.o
SpaceGame/Debug/SPL/src/stm32f30x_rtc.su
SpaceGame/Debug/SPL/src/stm32f30x_spi.d
SpaceGame/Debug/SPL/src/stm32f30x_spi.o
SpaceGame/Debug/SPL/src/stm32f30x_spi.su
SpaceGame/Debug/SPL/src/stm32f30x_syscfg.d
SpaceGame/Debug/SPL/src/stm32f30x_syscfg.o
SpaceGame/Debug/SPL/src/stm32f30x_syscfg.su
SpaceGame/Debug/SPL/src/stm32f30x_tim.d
SpaceGame/Debug/SPL/src/stm32f30x_tim.o
SpaceGame/Debug/SPL/src/stm32f30x_tim.su
SpaceGame/Debug/SPL/src/stm32f30x_usart.d
SpaceGame/Debug/SPL/src/stm32f30x_usart.o
SpaceGame/Debug/SPL/src/stm32f30x_usart.su
SpaceGame/Debug/SPL/src/stm32f30x_wwdg.d
SpaceGame/Debug/SPL/src/stm32f30x_wwdg.o
SpaceGame/Debug/SPL/src/stm32f30x_wwdg.su
SpaceGame/Debug/SPL/src/subdir.mk
SpaceGame/Debug/Src/30010_io.d
SpaceGame/Debug/Src/30010_io.o
SpaceGame/Debug/Src/30010_io.su
SpaceGame/Debug/Src/main.d
SpaceGame/Debug/Src/main.o
SpaceGame/Debug/Src/main.su
SpaceGame/Debug/Src/subdir.mk
SpaceGame/Debug/Src/syscalls.d
SpaceGame/Debug/Src/syscalls.o
SpaceGame/Debug/Src/syscalls.su
SpaceGame/Debug/Src/sysmem.d
SpaceGame/Debug/Src/sysmem.o
SpaceGame/Debug/Src/sysmem.su
SpaceGame/Debug/Src/system_stm32f30x.d
SpaceGame/Debug/Src/system_stm32f30x.o
SpaceGame/Debug/Src/system_stm32f30x.su
SpaceGame/Debug/Startup/startup_stm32f302r8tx.d
SpaceGame/Debug/Startup/startup_stm32f302r8tx.o
SpaceGame/Debug/Startup/subdir.mk
SpaceGame/SpaceGame Debug.launch
